@model Manatee.Trello.Card

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

@foreach (var comment in @Model.Comments)
{
    <div class="Comment">
        <p>@comment.Data.Text <span>@comment.Creator.FullName</span></p>
    </div>
}


<form action="@Url.Action("Comment")/@Model.Id" method="post">
    <textarea name="Comment"></textarea>
    
    <button type="submit">Submit</button>
</form>