@model Manatee.Trello.Board

@{
    ViewBag.Title = "show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

@foreach (var list in @Model.Lists)
{
    <div class="List">
        <p>@list.Name</p>
        
        @foreach (var card in list.Cards)
        {
            <div class="Card">
                <a href="@Url.Action("Show", "Cards")/@card.Id">@card.Name</a>
            </div>
        }
    </div>
}
