@model Manatee.Trello.Board

@{
    ViewBag.Title = "show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div class="Board">
    @foreach (var list in @Model.Lists)
    {
        <div class="Board--list">
            <p>@list.Name</p>

            @foreach (var card in list.Cards)
            {
                <div class="Board--card">
                    <a href="@Url.Action("Show", "Cards")/@card.Id">@card.Name</a>
                </div>
            }
        </div>
    }
</div>
